@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <p>This is the website to manage the Farm Central stock database. Only logged in users are able to
    access the data from the website. (Note: This website is still in a prototype stage)
    </p>
</main>